@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
 
body{
  background: #2469a5;
  font-family:Quicksand,sans-serif;
  text-align:center;
}

.card {
  width: 20%;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  box-shadow: 3px 3px 18px -8px #263238;
  color: #424242;
  margin: 20px auto;
  padding: 5em 5em 3em 5em;
  display: inline-block;
}

h1 {
  display: block;
  font-size: 3em;
  margin-block-start: 0.83em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.modal-open {
  display: inline-block;
  border-radius: 10px;
  background: #4caf50;
  padding: 0px 20px;
  color: #fff;
  cursor: pointer;
}
 
.modal-label {
   position: relative;
}
 
.modal-radio {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
 
.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  transform: scale(0);
  transition: opacity .25s, transform .25s;
  z-index:99;
}
 
.modal2{
  transform: scale(0.8) translate(0,-100%);
  transition: transform .35s,opacity .35s;
}
 
.modal3{
  transform:translate(0,100%) scale(.9);
}
 
.modal4{
  transform:scale(0) rotate(180deg);
}
 
#modal-open:checked + .modal {
  opacity: 1;
  transform: scale(1);
}
 
#modal-open2:checked + .modal2{
  transform:scale(1) translate(0,0);
  opacity:1;
}
 
#modal-open3:checked + .modal3{
  transform:scale(1) translate(0,0);
  opacity:1;
}
 
#modal-open4:checked + .modal4{
  transform:scale(1) rotate(0deg);
  opacity:1;
}
 
.overlay {
   position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.3;
  top: 0;
  left: 0;
}
 
.modal .content {
  position: absolute;
  width: 65%;
  top: 10%;
  left: 17%;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 3px 15px -2px #222;

}

.content .img1 {
  border-radius: 15px;
  margin-top: 3em;
  width: 100%;
  box-shadow: 5px 5px 34px -4px #1271a0;
}
 
.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 20px;
  border-radius: 50%;
  border: 2px solid #f44336;
  cursor: pointer;
}
 
.close-btn:after,
.close-btn:before {
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  background: #f44336;
  left: 15%;
  top: 50%;
  top: calc(50% - 1px);
  transform-origin: 50% 50%;
  transform: rotate(45deg);
}
 
.close-btn:before {
    transform: rotate(-45deg);
}
 
.action-btn{
  display:inline-block;
  padding: 10px 20px;
  background:#4caf50;
  color:#fff;
  border-radius:15px;
  cursor: pointer;
}


.flex-container {
  margin-bottom: 50px;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 2em 6em;
  }

  .child1{
    text-align:center;
    flex: 3;
  }

  .child2{
    padding-left: 50px;
    text-align:left;
    flex: 20px;
    flex: 3;
  }

  .img2 {
    width: 80%;
    border-radius: 15px;
    box-shadow: 5px 5px 34px -4px #1271a0;
  }